.about-us {
  @include wrapper();

  position: relative;
  padding-top: 17px;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 14px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.about-us__items {
  padding: 0;
}

.about-us__item {
  width: 98%;
  padding: 64px 0 19px;
  font-size: $font-size-small;
  line-height: $line-height-medium;
  font-weight: $font-weight-bold;
  list-style-type: none;
}

.about-us__title {
  font-size: $font-size-small-big;
}

.about-us__item--flower {
  position: relative;
  order: 1;

  br {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    left: -11px;
    top: -8px;
    display: block;
    width: 70px;
    height: 70px;
    background-image: url("../img/feature-flower.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.about-us__item--clew {
  position: relative;
  order: 1;

  &::after {
    content: "";
    position: absolute;
    left: -15px;
    top: -6px;
    display: block;
    width: 70px;
    height: 70px;
    background-image: url("../img/feature-ball.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.about-us__item--money {
  position: relative;
  order: 1;

  br {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    left: -12px;
    top: -12px;
    display: block;
    width: 70px;
    height: 70px;
    background-image: url("../img/feature-money.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.about-us__item--rocket {
  position: relative;
  order: 1;

  &::after {
    content: "";
    position: absolute;
    left: -14px;
    top: -11px;
    display: block;
    width: 70px;
    height: 70px;
    background-image: url("../img/feature-rocket.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.about-us__item--heart {
  position: relative;
  order: 1;

  br {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    left: -12px;
    top: -6px;
    display: block;
    width: 70px;
    height: 70px;
    background-image: url("../img/feature-heart.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.about-us__item--gift {
  position: relative;
  order: 1;

  br {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    left: -16px;
    top: -8px;
    display: block;
    width: 70px;
    height: 70px;
    background-image: url("../img/feature-gift.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: $tablet-width) {
  .about-us {
    padding-top: 40px;
    padding-left: 45px;

    &::after {
      content: "";
      height: 45px;
    }
  }

  .about-us__title {
    margin-top: 32px;
    font-size: $font-size-any-big;
  }

  .about-us__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 94%;
    padding-left: 5px;
  }

  .about-us__item {
    padding: 68px 0 43px;
    width: 47%;
    font-size: $font-size-medium-big;
    line-height: $line-height-any-medium;
  }

  .about-us__item--flower {
    order: 1;

    br {
      display: block;
    }

    &::after {
      content: "";
      left: 8px;
      top: 14px;
    }
  }

  .about-us__item--clew {
    order: 2;

    &::after {
      content: "";
      left: 4px;
      top: 16px;
    }
  }

  .about-us__item--money {
    order: 3;

    br {
      display: block;
    }

    &::after {
      content: "";
      left: 0;
      top: 15px;
    }
  }

  .about-us__item--rocket {
    order: 4;

    &::after {
      content: "";
      left: -4px;
      top: 18px;
    }
  }

  .about-us__item--heart {
    order: 5;

    br {
      display: block;
    }

    &::after {
      content: "";
      left: 8px;
      top: 20px;
    }
  }

  .about-us__item--gift {
    order: 6;

    br {
      display: block;
    }

    &::after {
      content: "";
      left: 4px;
      top: 16px;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    position: relative;
    max-width: 100%;
    padding-top: 16px;

    &::after {
      content: "";
      width: 1085px;
      height: 50px;
      top: -11px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .about-us__wrapper {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 115px;
  }

  .about-us__title {
    margin: 44px 0 38px;
    padding-top: 23px;
    padding-left: 58px;
    font-size: $font-size-very-big;
  }

  .about-us__items {
    justify-content: space-around;
    padding-left: 35px;
    padding-right: 39px;
  }

  .about-us__item {
    width: 294px;
  }

  .about-us__item--flower {
    &::after {
      content: "";
      left: 8px;
      top: 11px;
    }
  }

  .about-us__item--clew {
    &::after {
      content: "";
      left: 4px;
      top: 15px;
    }
  }

  .about-us__item--money {
    &::after {
      content: "";
      left: 1px;
      top: 14px;
    }
  }

  .about-us__item--rocket {
    &::after {
      content: "";
      left: -4px;
      top: 18px;
    }
  }

  .about-us__item--heart {
    &::after {
      content: "";
      left: 8px;
      top: 20px;
    }
  }

  .about-us__item--gift {
    &::after {
      content: "";
      left: 4px;
      top: 17px;
    }
  }
}
