.catalog-item {
  width: 260px;
  padding-bottom: 12px;
  border: 1px solid $grey-color-hs0-93;
}

.catalog-item__wrapper {
  padding-left: 27px;
  text-align: left;
}

.catalog-item__title {
  margin: 0;
  padding-top: 24px;
  font-size: $font-size-small;
  line-height: $line-height-small-big;
  font-weight: $font-weight-bold;
}

.catalog-item__size {
  margin: 0;
  padding-top: 5px;
  font-size: $font-size-smallest;
  line-height: $line-height-big;
  color: $grey-color-hsl0;
}

.catalog-item__price {
  position: relative;
  padding-top: 25px;
  font-size: $font-size-any-small;
  line-height: $line-height-small-big;
  font-weight: $font-weight-bold;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    display: block;
    width: 86%;
    height: 1px;
    background-color: #ececec;
  }

  &::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 22px;
    display: block;
    width: 25px;
    height: 25px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .catalog-item {
    display: flex;
    flex-direction: row;
    width: 668px;
    padding-bottom: 0;
  }

  .catalog-item__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 26px;
  }

  .catalog-item__img {
    flex-shrink: 0;
    width: 334px;
    height: 334px;
  }

  .catalog-item__price {
    text-align: left;
    padding-top: 0;
    padding-left: 6px;
    margin: auto 0 26px;
    font-size: $font-size-small;
    line-height: $line-height-small-big;

    &::before {
      content: "";
      top: -25px;
      left: 7px;
      width: 88%;
    }

    &::after {
      content: "";
      top: -3px;
      right: 27px;
    }
  }

  .catalog-item__size {
    text-align: left;
    font-size: $font-size-any-small;
    line-height: $line-height-big;
  }

  .catalog-item__title {
    text-align: left;
    width: auto;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-item {
    flex-direction: column;
    width: 316px;
    min-height: 465px;
    margin: 0;
  }

  .catalog-item__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 23px;
  }

  .catalog-item__img {
    width: 316px;
    height: 465px;
  }

  .catalog-item__size {
    padding-top: 0;
  }

  .catalog-item__price {
    padding-left: 2px;
    margin-top: 42px;
    font-size: $font-size-small;
  }

  .catalog-item__title {
    width: 235px;
    padding-top: 22px;
  }
}
