.catalog-item {
  width: 260px;
  padding-bottom: 30px;
  line-height: 0;
  border: 1px solid $grey-color-hs0-93;
}

.catalog-item:hover {
  box-shadow: 0 9px 24px -13px grey;
  transition: 0.2s ease;
}

.catalog-item:active {
  box-shadow: 0 9px 15px -13px grey;
}

.catalog-item__button {
  display: block;
}

.catalog-item__wrapper {
  position: relative;
  padding-left: 27px;
  text-align: left;
}

.catalog-item__icon-cart {
  fill: $grey-color-hs199;
}

.catalog-item__icon {
  position: absolute;
  bottom: 3px;
  right: 26px;
  cursor: pointer;
}

.catalog-item__title {
  display: block;
  margin: 0;
  padding-top: 24px;
  padding-right: 30px;
  font-size: $font-size-small;
  line-height: $line-height-small-big;
  font-weight: $font-weight-bold;
  text-decoration: none;
  color: $black-color;
}

.catalog-item__title:hover {
  transition: 0.2s ease;
  opacity: 0.7;
}

.catalog-item__icon:hover .catalog-item__icon-cart {
  fill: $green-color-hsl5382;
  transition: 0.2s ease;
}

.catalog-item__title:active {
  opacity: 0.3;
  transition: 0.2s ease;
}

.catalog-item__icon:active .catalog-item__icon-cart {
  fill: $green-color-hsl5382;
  opacity: 0.3;
  transition: 0.2s ease;
}

.catalog-item__size {
  margin: 0;
  padding-top: 5px;
  font-size: $font-size-smallest;
  line-height: $line-height-big;
  color: $grey-color-hsl0;
}

.catalog-item__price {
  position: relative;
  display: block;
  width: 75%;
  margin-top: 40px;
  font-size: $font-size-any-small;
  line-height: $line-height-small-big;
  font-weight: $font-weight-bold;
  color: $black-color;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    top: -22px;
    left: 3px;
    display: block;
    width: 86%;
    height: 1px;
    background-color: #ececec;
  }
}

@media (min-width: $tablet-width) {
  .catalog-item {
    display: flex;
    flex-direction: row;
    width: 668px;
    padding-bottom: 0;
  }

  .catalog-item__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 26px;
  }

  .catalog-item__img {
    flex-shrink: 0;
    width: 334px;
    height: 334px;
  }

  .catalog-item__price {
    text-align: left;
    padding-top: 0;
    padding-left: 3px;
    margin: auto 0 28px;
    font-size: $font-size-small;
    line-height: $line-height-small-big;

    &::before {
      content: "";
      top: -23px;
      left: 6px;
      width: 115%;
    }

    &::after {
      content: "";
      top: -3px;
      right: 27px;
    }
  }

  .catalog-item__size {
    padding-top: 7px;
    text-align: left;
    font-size: $font-size-any-small;
    line-height: $line-height-big;
  }

  .catalog-item__title {
    text-align: left;
    width: 300px;
    padding-right: 65px;
    font-size: 20px;
    line-height: 24px;
  }

  .catalog-item__icon {
    bottom: 32px;
    right: 32px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-item {
    flex-direction: column;
    width: 316px;
    min-height: 465px;
    margin: 0;
  }

  .catalog-item.catalog-items__item {
    margin-bottom: 57px;
    margin-right: 48px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .catalog-item__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 192px;
    padding-left: 23px;
  }

  .catalog-item__img {
    width: 316px;
    height: 465px;
  }

  .catalog-item__size {
    padding-top: 5px;
    padding-left: 4px;
  }

  .catalog-item__price {
    padding-left: 7px;
    font-size: $font-size-small;
  }

  .catalog-item__title {
    width: 245px;
    padding-right: 0;
    padding-left: 5px;
    padding-top: 22px;
  }

  .catalog-item__icon {
    right: 28px;
  }
}
