.catalog-items__item {
  margin: 30px auto 0;
  text-align: center;
}

.catalog-items__wrapper {
  @include wrapper();

  text-align: left;
}

@media (min-width: $tablet-width) {
  .catalog-items__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 335px;
    margin: 41px auto 51px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .catalog-items__wrapper {
    padding-top: 39px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-items__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 90px;
  }
}
