.checkbox {
  position: relative;
}

.checkbox__input {
  @include visually-hidden();

  &:hover + .checkbox__label::after {
    border-color: $green-color-hsl5382;
    transition: 0.2s ease;
  }

  &:active + .checkbox__label::after {
    border-color: $grey-color-hs199;
    transition: 0.2s ease;
  }
}

.checkbox__label {
  cursor: pointer;
  font-size: $font-size-small;
  line-height: $line-height-any-small;
  font-weight: $font-weight-bold;
  transition: 0.2s ease;

  &::after {
    content: "";
    position: absolute;
    top: -13px;
    left: -62px;
    display: block;
    width: 35px;
    height: 35px;
    border: 2px solid $grey-color-hsl0;
  }
}

.checkbox__input:checked + .checkbox__label {
  &::after {
    content: "";
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: $tablet-width) {
  .checkbox__label {
    font-size: $font-size-medium;
    line-height: $line-height-medium;

    &::after {
      content: "";
      top: -13px;
      left: -78px;
      width: 45px;
      height: 45px;
    }
  }
}
