.color__item {
  margin: 37px 0 43px 62px;

  &:last-child {
    margin-bottom: 33px;
  }
}

.color__wrapper {
  @include wrapper();
}

@media (min-width: $tablet-width) {
  .color {
    background-color: $grey-color-hs0-95;
  }

  .color__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 700px;
    margin: 0 auto;
    padding: 44px 9px 14px 141px;
  }

  .color__container {
    width: 100%;
  }

  .color__item {
    margin: 18px 0 40px 98px;
    width: 30%;
  }

  .color__title {
    margin-top: 56px;

    &::after {
      content: "";
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .color__wrapper {
    justify-content: space-between;
    width: 743px;
    margin-left: 138px;
    padding-bottom: 12px;
    padding-left: 0;
  }

  .color__item {
    width: 15%;
  }

  .color__container {
    width: 1120px;
    margin: 0 auto;
    padding-left: 54px;
  }
}
