.contacts {
  position: relative;
  padding-bottom: 60px;
}

.contacts__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contacts__link {
  width: 190px;
  margin-top: 15px;
  font-size: $font-size-any-small;
  line-height: $line-height-small-big;
  color: $grey-color-hsl0;
  text-decoration: none;
}

.contacts__text {
  width: 190px;
  font-size: $font-size-any-small;
  line-height: $line-height-big;
  color: $grey-color-hsl0;
}

.contacts__type {
  margin-right: 29px;
  font-size: $font-size-any-small;
  line-height: $line-height-small-big;
  color: $grey-color-hsl0;
}

.contacts__email {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.contacts__address {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-left: 10px;
}

.contacts__wrapper {
  @include wrapper();
}

.contacts__title {
  width: 100%;
  padding-top: 70px;
  margin-left: 29px;
  font-size: $font-size-any-medium;
  line-height: $line-height-big;
  font-weight: $font-weight-bold;
}

.contacts__button {
  position: absolute;
  bottom: -33px;
  left: 50%;
  transform: translateX(-50%);
  width: 82%;
  margin-top: 50px;
}

.contacts__map {
  width: 100%;
  height: 474px;
  padding-top: 20px;
  overflow: hidden;
}

.contacts__map img {
  @include images-adaptive();
}

@media (min-width: $tablet-width) {
  .contacts__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;

    &::after {
      content: "";
      position: absolute;
      top: 133px;
      right: 49px;
      display: block;
      width: 50px;
      height: 75px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
    }
  }

  .contacts__title {
    padding-top: 101px;
    margin-bottom: 36px;
    margin-left: 45px;
    font-size: $font-size-any-big;
    line-height: $line-height-any-big;
  }

  .contacts__button {
    bottom: -46px;
    width: 225px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .contacts__email {
    width: auto;
  }

  .contacts__address {
    width: auto;
    margin-left: 0;
    margin-right: 50px;
  }

  .contacts__link {
    margin-top: 17px;
    font-size: $font-size-small;
  }

  .contacts__text {
    width: 230px;
    font-size: $font-size-small;
  }

  .contacts__type {
    margin-left: 18px;
    font-size: $font-size-small;
  }

  .contacts__map {
    padding-top: 35px;
    height: 492px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 0;
  }

  .contacts__map {
    width: 525px;
    height: 479px;
    margin-right: 0;
    padding-top: 0;
    margin-top: auto;
  }

  .contacts__container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 118px;

    &::after {
      content: "";
      top: 166px;
      left: -50px;
      display: block;
    }
  }

  .contacts__title {
    padding-top: 118px;
    padding-right: 84px;
    width: auto;
    font-size: $font-size-very-big;
    line-height: $line-height-biggest;
  }

  .contacts__type {
    margin-left: 0;
  }

  .contacts__email {
    justify-content: flex-start;
    margin-left: 49px;
  }

  .contacts__link {
    width: auto;
    border-bottom: 1px solid $green-color-hsl5382;
  }

  .contacts__address {
    justify-content: flex-start;
    margin-left: 50px;
  }

  .contacts__button {
    position: static;
    transform: translateX(0);
    margin-top: 63px;
    margin-right: 122px;
  }
}
