.footer-main {
  outline: 3px solid red;
  padding-top: 50px;
  margin-top: 50px;
  background-color: $grey-color-hs0-95;
}

.footer-main__wrapper {
  @include wrapper();
}

.footer-main__address {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  font-size: $font-size-medium;
  line-height: $line-height-medium;
  font-weight: $font-weight-bold;
  color: $black-color;
  text-decoration: none;
}

.form-main__important {
  font-size: $font-size-small-smallest;
  line-height: $line-height-smallest;
  color: $grey-color-hsl0;
}

.form-main__button {
  padding-left: 10px;
  padding-right: 10px;
}
