.header-main {
  outline: 3px solid red;
  position: relative;
}

.header-main__delivery {
  display: none;
  font-size: $font-size-any-small;
  line-height: $line-height-small-big;
  color: $grey-color-hsl0;
  text-decoration: none;
}

.header-main__wrapper {
  @include wrapper();

  position: relative;
}

.header-main__logo {
  display: block;
  text-align: center;
}

.header-main__button {
  position: absolute;
  top: 40px;
  right: 0;
  width: 25px;
  height: 25px;
}

.header-main__nav-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .header-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  .header-main__button {
    display: none;
  }

  .header-main__logo {
    margin-left: 0;
  }

  .header-main__wrapper {
    order: 1;
  }

  .header-main__delivery {
    display: block;
    order: 4;
    z-index: 5;
  }
}

@media (min-width: $desktop-width) {
  .header-main {
    padding: 0;
    max-width: 1050px;
    margin: 0 auto;
  }

  .header-main__wrapper {
    order: 2;
  }
}
