#icon-logo-desktop__parts {
  fill: #ffffff;
}

#icon-logo-tablet__parts {
  fill: #ffffff;
}

#icon-search {
  fill: #c7c7c7;
}

#icon-cart {
  fill: #c7c7c7;
}

#icon-logo-htmlacademy {
  fill: #46c1ae;
}

.user-tel__icon-phone {
  fill: #c7c7c7;
  opacity: 0.2;
}

#icon-mail {
  fill: #c7c7c7;
  opacity: 0.2;
}

.icon-play__part1 {
  fill: #46c1ae;
}

.icon-play__part2 {
  fill: #46c1ae;
}
