.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 487px;
  background-color: #f8f8f8;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -17px;
  overflow: hidden;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .intro {
      background-image: url("../img/hero-mobile@2x.jpg");
    }
  }
}

.intro__wrapper {
  @include wrapper();
}

.intro__items {
  margin-top: auto;
}

.intro__title {
  margin: auto;
  text-align: center;
  padding: 70px 0;
  z-index: 3;
}

.intro__title span {
  display: block;
}

.intro__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 103px;
  text-decoration: none;
}

.intro__item--interior {
  position: relative;
  background-color: $green-color-hsl53;
  transition: 0.2s ease;

  &::after {
    content: "";
    position: absolute;
    right: 2px;
    top: 25px;
    display: block;
    width: 75px;
    height: 75px;
    background-image: url("../img/interior.svg");
    background-repeat: no-repeat;
  }
}

.intro__item--interior:hover {
  min-height: 124px;

  .intro__wrapper {
    padding-bottom: 7px;
    transition: 0.2s ease;
  }
}

.intro__item--interior:active {
  transition: 0.2s ease;

  .intro__item-description {
    color: #97e2d2;
  }

  &::after {
    content: "";
    opacity: 0.7;
  }
}

.intro__item--toys {
  position: relative;
  background-color: $green-color-hsl56;
  transition: 0.2s ease;

  &::after {
    content: "";
    position: absolute;
    right: 12px;
    top: 22px;
    display: block;
    width: 75px;
    height: 75px;
    background-image: url("../img/toy.svg");
    background-repeat: no-repeat;
  }
}

.intro__item--toys:hover {
  min-height: 124px;

  .intro__wrapper {
    padding-bottom: 7px;
    transition: 0.2s ease;
  }
}

.intro__item--toys:active {
  transition: 0.2s ease;

  .intro__item-description {
    color: #97e2d2;
  }

  &::after {
    content: "";
    opacity: 0.7;
  }
}

.intro__img {
  position: absolute;
  top: 22px;
  right: 12px;
}

.intro__item-description {
  width: 110px;
  text-align: left;
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
  line-height: $line-height-small-big;
  color: $white-color;
}

@media (min-width: $tablet-width) {
  .intro {
    position: relative;
    min-height: 745px;
    background-image: url("../img/hero-tablet@1x.jpg");
    overflow: hidden;

    &::after {
      content: "";
      display: block;
      width: 102%;
      height: 30px;
      position: absolute;
      left: 50%;
      bottom: -14px;
      transform: translateX(-50%);
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .intro {
        background-image: url("../img/hero-tablet@2x.jpg");
      }
    }
  }

  .intro__wrapper {
    padding-left: 36px;
  }

  .intro__title {
    width: 550px;
    padding-top: 152px;
  }

  .intro__title--padding {
    padding-top: 78px;
  }

  .intro__title span {
    display: inline;
  }

  .intro__items {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 87%;
    margin: 0 auto;
    margin-top: auto;
  }

  .intro__item {
    width: 50%;
    min-height: 118px;
  }

  .intro__item--toys {
    &::after {
      content: "";
      right: 21px;
      top: 30px;
    }
  }

  .intro__item-description {
    font-size: $font-size-medium-big;
    line-height: $line-height-big;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    min-height: 743px;
    background-image: url("../img/hero-desktop@1x.jpg");

    &::after {
      content: "";
      height: 90px;
      bottom: -28px;
    }

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .intro {
        background-image: url("../img/hero-desktop@2x.jpg");

        &::after {
          content: "";
          height: 50px;
          bottom: -28px;
        }
      }
    }
  }

  .intro__wrapper {
    padding-left: 36px;
    margin: 0 auto;
    max-width: 100%;
  }

  .intro__title--padding {
    padding-top: 50px;
  }

  .intro__item .intro__wrapper {
    margin-left: 0;
  }

  .intro.intro-height {
    min-height: 255px;
  }

  .intro__items {
    max-width: 1050px;
    min-width: 1050px;
  }

  .intro__title {
    width: 700px;
  }
}
