.intro-height {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 176px;
  overflow: hidden;
  background-color: $grey-color-hs0-95;
}

.intro-height__title {
  margin: auto;
  text-align: center;
  padding: 70px 0;
  z-index: 3;
}

@media (min-width: $tablet-width) {
  .intro-height {
    min-height: 234px;

    &::before {
      content: "";
      display: block;
      width: 102%;
      height: 50px;
      position: absolute;
      left: 50%;
      bottom: -14px;
      transform: translateX(-50%);
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      z-index: 5;
    }
  }

  .intro-height__title {
    width: 550px;
    padding-top: 152px;
  }

  .intro-height__title--padding {
    padding-top: 78px;
  }
}

@media (min-width: $desktop-width) {
  .intro-height {
    min-height: 263px;

    &::before {
      content: "";
      height: 60px;
    }
  }

  .intro-height__title--padding {
    padding-top: 50px;
  }
}
