.intro {
  outline: 3px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 500px;
  background-color: $grey-color-hs0-95;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.intro--height {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 180px;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $grey-color-hs0-95;
  }
}

.intro__wrapper {
  @include wrapper();
}

.intro__title {
  margin: auto;
  text-align: center;
  padding: 100px 0;
  z-index: 3;
}

.intro__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 100px;
}

.intro__item--interior {
  background-color: $green-color-hsl53;
}

.intro__item--toys {
  background-color: $green-color-hsl56;
}

.intro__item-description {
  width: 110px;
  margin: 0;
  text-align: left;
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
  line-height: $line-height-small-big;
  color: $white-color;
}

@media (min-width: $tablet-width) {
  .intro__items {
    display: flex;
    flex-direction: row;
  }

  .intro__item {
    width: 50%;
  }

  .intro__title {
    width: 550px;
  }

  .intro__item-description {
    font-size: $font-size-medium-big;
    line-height: $line-height-big;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    height: 750px;
  }

  .intro.intro--height {
    height: 255px;
  }

  .intro__items {
    padding: 0 100px;
  }

  .intro__title {
    width: 700px;
  }
}
