.map {
  background-color: #f9ead7;
}

@media (min-width: $tablet-width) {
  .map {
    height: 460px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    width: 525px;
    height: 460px;
    margin-top: 12px;
  }
}
