.modal-checkbox {
  width: 30%;
}

.modal-checkbox__input {
  @include visually-hidden();

  &:checked + .modal-checkbox__label {
    border-color: $green-color-hsl5382;
  }
}

.modal-checkbox__label {
  display: flex;
  height: 52px;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid $grey-color-hsl00;

  &:hover {
    border-color: $grey-color-hs199;
    transition: 0.2s ease;
  }
}

.modal-checkbox__label span {
  margin: auto;
  font-size: $font-size-small;
  line-height: $line-height-any-small;
  font-weight: $font-weight-bold;
}

.modal-products__button {
  border: none;
  background-color: $green-color-hsl53;
  color: $white-color;
}

@media (min-width: $tablet-width) {
  .modal-checkbox {
    width: auto;
  }

  .modal-checkbox__label {
    width: 110px;

    &:last-child {
      margin-right: 0;
    }
  }

  .modal-products__button {
    width: 350px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .modal-products__size-items {
    width: 350px;
    margin: 0 auto;
  }
}
