.modal-products__wrapper {
  @include wrapper();
}

.modal-products__title {
  width: 175px;
  margin: 0 auto;
  text-transform: uppercase;
}

.modal-products__size {
  text-align: center;
  font-size: $font-size-any-small;
  line-height: $line-height-big;
  color: $grey-color-hsl0;
}

.modal-products__size-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .modal-products {
    width: 570px;
    margin: 0 auto;
  }

  .modal-products__wrapper {
    padding: 50px 0;
  }

  .modal-products__title {
    width: auto;
    text-align: center;
    font-size: $font-size-biggest;
    line-height: $line-height-biggest;
  }

  .modal-products__size {
    font-size: $font-size-small;
  }
}
