.process__wrapper {
  position: relative;
  width: 260px;
  margin: 32px auto 0;
  padding-bottom: 34px;
  border: 1px solid $grey-color-hs0-93;
  z-index: 5;
  overflow: hidden;

  &:hover {
    box-shadow: 0 9px 24px -13px grey;
    transition: 0.2s ease;
  }

  &:active {
    box-shadow: 0 9px 15px -13px grey;
  }
}

.process__container {
  position: relative;
  z-index: -2;

  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 33px;
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
  }
}

.process__title {
  text-align: left;
  padding-top: 8px;
  padding-left: 89px;
  margin-bottom: 200px;
  font-size: $font-size-small;
  line-height: $line-height-small-big;
  font-weight: $font-weight-bold;
}

.process__description {
  padding: 0 33px;
  margin-bottom: 28px;
  font-size: $font-size-smallest;
  line-height: $line-height-small-big;
  color: $grey-color-hsl0;
}

.process__button {
  display: block;
  max-width: 190px;
  padding-left: 10px;
  padding-right: 10px;
}

.process__video {
  position: absolute;
  left: 50%;
  top: 94px;
  transform: translateX(-50%);
  text-align: center;
}

.process__play {
  display: block;
  width: 101px;
  height: 77px;
  background-image: url("../img/icon-play.svg");
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.process__play:hover {
  width: 121px;
  height: 92px;
}

.process__play:active {
  width: 66px;
  height: 50px;
  opacity: 0.7;
}

@media (min-width: $tablet-width) {
  .process__video {
    position: static;
    width: 668px;
    height: 455px;
    transform: translateX(0);
  }

  .process__wrapper {
    display: flex;
    flex-direction: column;
    width: 668px;
    margin: 53px auto 0;
    padding-bottom: 47px;
  }

  .process__container {
    &::after {
      content: "";
      top: 31px;
      left: 40px;
    }
  }

  .process__button {
    max-width: 88%;
  }

  .process__title {
    padding-left: 106px;
    padding-top: 21px;
    margin-bottom: 0;
    font-size: $font-size-medium-big;
    line-height: $line-height-small-big;
  }

  .process__description {
    padding: 15px 40px 9px;
    font-size: $font-size-any-small;
    line-height: $line-height-big;
  }
}

@media (min-width: $desktop-width) {
  .process__wrapper {
    position: relative;
    width: 1040px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 0;
    margin: 0 auto 104px;
    border: none;
  }

  .process__container {
    width: 360px;
    padding-left: 75px;
    border: 1px solid $grey-color-hs0-93;
    border-left: none;

    &::after {
      content: "";
      top: 40px;
      left: 77px;
    }
  }

  .process__video {
    position: relative;
    top: 0;
    left: -3px;
    transform: translateX(0);
    width: 680px;
  }

  .process__title {
    width: 200px;
    padding-top: 80px;
    padding-left: 0;
  }

  .process__description {
    padding-left: 0;
    padding-top: 19px;
  }

  .process__button {
    width: 232px;
    margin: 0;
    margin-top: 34px;
  }
}
