.process {
  outline: 3px solid red;
}

.process__wrapper {
  @include wrapper();
}

.process__title {
  text-align: left;
  padding: 0 45px;
  font-size: $font-size-small;
  line-height: $line-height-small-big;
  font-weight: $font-weight-bold;
}

.process__description {
  font-size: $font-size-smallest;
  line-height: $line-height-small-big;
  color: $grey-color-hsl0;
}

.process__button {
  max-width: 190px;
  padding-left: 10px;
  padding-right: 10px;
}

.process__video {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .process__video {
    height: 455px;
    order: -1;
  }

  .process__wrapper {
    display: flex;
    flex-direction: column;
    width: 668px;
    margin: 0 auto;
  }

  .process__button {
    max-width: 100%;
  }

  .process__title {
    font-size: $font-size-medium-big;
    line-height: $line-height-small-big;
  }

  .process__description {
    font-size: $font-size-any-small;
    line-height: $line-height-big;
  }
}

@media (min-width: $desktop-width) {
  .process__wrapper {
    position: relative;
    width: 1250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .process__container {
    width: 350px;
    margin-top: auto;
    margin-bottom: 50px;
  }

  .process__video {
    width: 700px;
  }

  .process__title {
    position: absolute;
    top: 50px;
    right: 250px;
    width: 200px;
    padding: 0;
  }
}
