.products {
  padding-bottom: 33px;
  overflow: hidden;
}

.products__container {
  margin: 0 auto;
}

.products__title {
  margin: 0;
  margin-left: 28px;
  padding-top: 27px;
  text-align: left;
  font-size: $font-size-small-big;
}

.products__feature {
  margin: 0;
  margin-left: 30px;
  padding-top: 7px;
  text-align: left;
  font-size: $font-size-small;
  line-height: $line-height-medium;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  color: $green-color-hsl53;
}

.products__description {
  padding-top: 22px;
}

.products__wrapper {
  @include wrapper();

  padding-top: 27px;
}

.products__info {
  max-width: 260px;
  margin: 0 auto;
  font-size: $font-size-any-small;
  line-height: $line-height-small-big;
  color: $grey-color-hsl0;
}

.products__info-table {
  width: 260px;
  margin-top: 22px;
}

.products__info-table td {
  padding: 4px 27px 10px 0;
}

.products__img {
  display: block;
  margin: 0 auto;
}

.products__price {
  padding: 6px 0 12px;
  font-size: $font-size-small;
  line-height: $line-height-small-big;
  font-weight: $font-weight-bold;
  color: $grey-color-hsl0;
  text-align: center;
}

.products__buy {
  display: block;
  min-width: 260px;
  max-width: 260px;
  word-wrap: break-word;
}

@media (min-width: $tablet-width) {
  .products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 39px;
  }

  .products__wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 334px;
    height: 403px;
    padding: 0;
  }

  .products__container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 668px;
  }

  .products__feature {
    width: 100px;
    margin-left: auto;
    margin-right: 64px;
    margin-top: 52px;
    text-align: center;
    line-height: $line-height-medium-small;
  }

  .products__title {
    margin-left: 47px;
    padding-top: 46px;
    font-size: $font-size-any-big;
  }

  .products__description {
    width: 285px;
    padding-top: 49px;
  }

  .products__info {
    max-width: 100%;
    font-size: $font-size-small;
    line-height: $line-height-big;
  }

  .products__price {
    width: 285px;
    padding: 36px 0 15px;
    font-size: $font-size-medium-big;
  }

  .products__buy {
    margin: 0;
    max-width: 288px;
  }
}

@media (min-width: $desktop-width) {
  .products {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1050px;
    margin: 0 auto;
    padding-bottom: 72px;
  }

  .products__container {
    max-width: 1150px;
    width: 1150px;
    justify-content: center;
    padding-left: 177px;
    margin: 0 auto;
  }

  .products__wrapper {
    width: 520px;
    height: 638px;
    padding: 0;
    z-index: -1;
    bottom: -5px;
    right: 7px;
  }

  .products__info {
    width: 326px;
  }

  .products__info-table td {
    padding: 7px 26px 9px 0;
  }

  .products__title {
    text-align: center;
    padding-top: 124px;
    margin-left: 38px;
    margin-right: auto;
    z-index: 2;
    font-size: $font-size-very-big;
  }

  .products__img {
    margin-left: 0;
  }

  .products__price {
    width: 290px;
    padding: 89px 0 16px;
  }

  .products__buy {
    margin: 0;
  }

  .products__feature {
    margin: 0;
    margin-left: 33px;
    padding-top: 140px;
  }
}
