.products {
  position: relative;
  padding-bottom: 100px;
}

.products__container {
  position: absolute;
  left: 50%;
  bottom: -24px;
  transform: translateX(-50%);
}

.products__container-all {
  margin: 0 auto;
}

.products__title {
  margin: 0;
  margin-left: 28px;
  padding-top: 27px;
  text-align: left;
  font-size: $font-size-small-big;
}

.products__feature {
  margin: 0;
  margin-left: 30px;
  padding-top: 7px;
  text-align: left;
  font-size: $font-size-small;
  line-height: $line-height-medium;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  color: $green-color-hsl53;
}

.products__description {
  padding-top: 22px;
}

.products__wrapper {
  @include wrapper();
}

.products__wrapper--img {
  padding-top: 33px;
}

.products__info {
  max-width: 260px;
  margin: 0 auto;
  font-size: $font-size-any-small;
  line-height: $line-height-small-big;
  color: $grey-color-hsl0;
}

.products__info-table {
  width: 260px;
  margin-top: 22px;
}

.products__info-table td {
  padding: 6px 0;
  padding-right: 27px;
}

.products__img {
  display: block;
  margin: 0 auto;
}

.products__price {
  padding-bottom: 12px;
  font-size: $font-size-small;
  line-height: $line-height-small-big;
  font-weight: $font-weight-bold;
  color: $grey-color-hsl0;
  text-align: center;
}

.products__buy {
  min-width: 265px;
  max-width: 265px;
  word-wrap: break-word;
}

@media (min-width: $tablet-width) {
  .products {
    padding-bottom: 0;
  }

  .products__wrapper {
    width: 50%;
    padding: 0;
  }

  .products__wrapper--img {
    height: 458px;
  }

  .products__container {
    position: static;
    transform: translateX(0);
    width: 292px;
    padding-top: 43px;
  }

  .products__container-all {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 668px;
  }

  .products__feature {
    position: absolute;
    top: 66px;
    right: 63px;
    width: 100px;
    text-align: center;
    line-height: $line-height-medium-small;
  }

  .products__title {
    margin-left: 47px;
    padding-top: 62px;
    font-size: $font-size-any-big;
  }

  .products__description {
    padding-top: 49px;
  }

  .products__info {
    max-width: 100%;
    font-size: $font-size-small;
    line-height: $line-height-big;
  }

  //.products__info-table {
  //  margin: 0;
  //  margin-top: 38px;
  //}

  .products__price {
    padding-bottom: 15px;
    font-size: $font-size-medium-big;
  }

  .products__buy {
    margin: 0;
    max-width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .products__wrapper {
    padding-left: 250px;
  }

  .products__wrapper--img {
    width: 520px;
    height: 638px;
    margin-top: -110px;
    margin-right: 100px;
    padding: 0;
    z-index: -1;
  }

  .products__info {
    width: 326px;
  }

  //.products__info-table {
  //  margin-top: 56px;
  //  margin-left: 26px;
  //}

  .products__title {
    text-align: center;
    padding-top: 139px;
    padding-right: 231px;
    z-index: 2;
    font-size: $font-size-very-big;
  }

  .products__img {
    margin-left: 0;
  }

  .products__feature {
    top: 146px;
    right: 50%;
    margin-right: 394px;
    text-align: center;
  }

  .products__container-all {
    max-width: 1250px;
    width: 1250px;
    justify-content: center;
  }

  .products__container {
    margin-left: 24px;
    padding-top: 99px;
  }
}
