.radio {
  position: relative;
  margin: 18px 0 8px 62px;
}

.radio__input {
  @include visually-hidden();
}

.radio__label {
  font-size: $font-size-small;
  line-height: $line-height-any-small;
  font-weight: $font-weight-bold;

  &::after {
    content: "";
    position: absolute;
    top: -8px;
    left: -62px;
    display: block;
    width: 35px;
    height: 35px;
    border: 2px solid $grey-color-hsl0;
    border-radius: 50%;
  }
}

@media (min-width: $tablet-width) {
  .radio {
    margin: 18px 0 40px 98px;
  }

  .radio__label {
    font-size: $font-size-medium;
    line-height: $line-height-medium;

    &::after {
      content: "";
      top: -13px;
      left: -80px;
      width: 45px;
      height: 45px;
    }
  }
}
