.radio {
  position: relative;
  margin: 18px 50px 8px 95px;
}

.radio__input {
  @include visually-hidden();

  &:hover + .radio__label::after {
    content: "";
    border-color: $green-color-hsl5382;
    transition: 0.2s ease;
  }

  &:active + .radio__label::after {
    content: "";
    border-color: $grey-color-hs199;
    transition: 0.2s ease;
  }

  &:active + .radio__label::before {
    content: "";
    position: absolute;
    top: 1px;
    left: -55px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $green-color-hsl5382;
  }
}

.radio__label {
  cursor: pointer;
  font-size: $font-size-small;
  line-height: $line-height-any-small;
  font-weight: $font-weight-bold;
  transition: 0.2s ease;

  &::after {
    content: "";
    position: absolute;
    top: -9px;
    left: -64px;
    display: block;
    width: 35px;
    height: 35px;
    border: 2px solid $grey-color-hsl0;
    border-radius: 50%;
  }
}

.radio__input:focus + .radio__label::after {
  content: "";
  border-color: $green-color-hsl5382;
}

.radio__input:checked + .radio__label {
  &::before {
    content: "";
    position: absolute;
    top: 1px;
    left: -55px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $green-color-hsl5382;
  }
}

@media (min-width: $tablet-width) {
  .radio {
    margin: 5px 0 51px 98px;
  }

  .radio__label {
    font-size: $font-size-medium;
    line-height: $line-height-medium;

    &::after {
      content: "";
      top: -13px;
      left: -80px;
      width: 45px;
      height: 45px;
    }
  }

  .radio__input:checked + .radio__label {
    &::before {
      content: "";
      left: -65px;
    }
  }

  .radio__input:active + .radio__label {
    &::before {
      content: "";
      left: -65px;
    }
  }
}

@media (min-width: $desktop-width) {
  .radio {
    margin-left: 26px;
  }
}
