.site-nav__item {
  font-size: $font-size-small;
  line-height: $line-height-small-big;
  font-weight: $font-weight-bold;
  list-style-type: none;
  border-top: 1px solid $grey-color-hsl00;
  border-bottom: 1px solid $grey-color-hsl00;
}

.site-nav__link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 26px 0 26px 75px;
  text-align: left;
  color: $black-color;
  text-decoration: none;
  transition: 0.2s ease;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

@media (min-width: $tablet-width) {
  .site-nav {
    display: flex;
    flex-direction: row;
    order: 3;
    margin-left: 49px;
    z-index: 5;
  }

  .site-nav__item {
    margin-right: 37px;
    border: none;
  }

  .site-nav__link {
    padding: 19px 0;
    margin: 0;
    font-size: $font-size-any-small;
    line-height: $line-height-small-big;
    font-weight: $font-weight-bold;
  }
}

@media (min-width: $desktop-width) {
  .site-nav {
    justify-content: flex-start;
    align-items: center;
    width: calc(50% - 125px);
    height: 100%;
    order: 1;
    margin-left: 0;
  }

  .site-nav__item {
    margin-right: 33px;
    padding-right: 35px;
    border-right: 1px solid #ececec;

    &:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right: none;
    }
  }

  .site-nav__link {
    padding: 32px 0;
    font-size: $font-size-small;
    line-height: $line-height-small-big;
    font-weight: $font-weight-bold;
  }
}
