.slider-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-collapse: collapse;
}

.slider-buttons__item {
  width: 50%;
  height: 52px;
  margin-top: 35px;
  border: 1px solid $grey-color-hsl00;
  background-color: transparent;
}

.slider-buttons__item--left {
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider-buttons__item--right {
  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $tablet-width) {
  .slider-buttons__item {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .slider-buttons.reviews-slider__buttons {
    margin-left: 200px;
    margin-top: 6px;
  }
}
