.table-template {
  margin: 0 auto;
  font-size: $font-size-any-small;
  line-height: $line-height-small-big;
  color: $grey-color-hsl0;
  border-collapse: collapse;
}

.table-template__td {
  border-bottom: 1px solid $grey-color-hsl00;
}

.table-template.products__info-table {
  width: 260px;
  margin-top: 22px;
}

@media (min-width: $tablet-width) {
  .table-template.products__info-table {
    margin: 0;
    margin-top: 38px;
  }
}

@media (min-width: $desktop-width) {
  .table-template.products__info-table {
    margin-top: 56px;
    margin-left: 0;
  }
}
