.type__wrapper {
  @include wrapper();

  display: flex;
  flex-direction: column;
  padding: 15px 0 26px;
}

@media (min-width: $tablet-width) {
  .type__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 33px;
    padding-bottom: 0;
  }

  .type__title {
    margin-top: 13px;

    &::after {
      content: "";
      display: none;
    }
  }

  .type__container {
    display: flex;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .type__wrapper {
    width: 700px;
    padding-left: 24px;
  }

  .type__container {
    width: 1120px;
    margin: 0 auto;
    padding-left: 50px;
    padding-top: 52px;
  }
}
