.user-nav__item {
  font-size: $font-size-small;
  line-height: $line-height-small-big;
  font-weight: $font-weight-bold;
  list-style-type: none;
  border-top: 1px solid $grey-color-hsl00;

  .user-nav__link {
    width: 100%;
    height: 100%;
    padding: 26px 0 26px 75px;
    text-align: left;
    color: $black-color;
    text-decoration: none;
    transition: 0.2s ease;

    &:hover {
      color: rgba($black-color, 0.5);
    }

    &:active {
      color: rgba($black-color, 0.3);
    }
  }
}

.user-nav__icon-search,
.user-nav__icon-cart {
  fill: #c7c7c7;
}

.user-nav__item--decoration,
.user-nav__item--basket {
  position: relative;
}

.user-nav__item--basket:active .user-nav__icon-cart,
.user-nav__item--decoration:active .user-nav__icon-search {
  fill: $green-color-hsl5382;
  opacity: 0.3;
  transition: 0.2s ease;
}

.user-nav__item--basket:hover .user-nav__icon-cart,
.user-nav__item--decoration:hover .user-nav__icon-search {
  fill: $green-color-hsl5382;
  transition: 0.2s ease;
}

.user-nav__item-img {
  position: absolute;
  top: 31px;
  left: 31px;
}

@media (min-width: $tablet-width) {
  .user-nav {
    display: flex;
    flex-direction: row;
    order: 2;
    width: calc(100% - 250px);
    height: 100%;
    justify-content: flex-end;
    padding-right: 40px;
  }

  .user-nav__item {
    border: none;
  }

  .user-nav__link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
  }

  .user-nav__link-basket {
    margin-left: 7px;
  }

  .user-nav__link-search {
    display: none;
  }

  .user-nav__item--decoration {
    width: 83px;
    border-left: 1px solid $grey-color-hsl00;
    border-right: 1px solid $grey-color-hsl00;

    .user-nav__link {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-right: 0;
    }
  }

  .user-nav__item--basket {
    width: 275px;
  }

  .user-nav__item-img {
    position: absolute;
    top: 35px;
    left: 33px;
  }
}

@media (min-width: $desktop-width) {
  .user-nav {
    justify-content: flex-end;
    width: calc(50% - 125px);
    padding-right: 1px;
  }

  .user-nav__item--basket {
    width: 267px;
  }

  .user-nav__link {
    padding-right: 0;
  }

  .user-nav__item-img {
    top: 36px;
  }
}
