.user-nav__item {
  font-size: $font-size-small;
  line-height: $line-height-small-big;
  font-weight: $font-weight-bold;
  list-style-type: none;
  border-top: 1px solid $grey-color-hsl00;
  border-bottom: 1px solid $grey-color-hsl00;
}

.user-nav__link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 26px 0 26px 75px;
  text-align: left;
  color: $black-color;
  text-decoration: none;
  transition: 0.2s ease;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

.user-nav__icon-search {
  fill: #c7c7c7;
}

.user-nav__icon-cart {
  fill: #c7c7c7;
}

.user-nav__item--decoration {
  position: relative;
}

.user-nav__item--decoration:hover {
  opacity: 0.7;
  transition: 0.2s ease;

  .user-nav__icon-search {
    fill: $green-color-hsl5382;
  }
}

.user-nav__item--decoration:active {
  transition: 0.2s ease;

  .user-nav__icon-search {
    fill: $green-color-hsl5382;
    opacity: 0.3;
  }
}

.user-nav__item--basket {
  position: relative;
}

.user-nav__item--basket:hover {
  transition: 0.2s ease;

  .user-nav__icon-cart {
    fill: $green-color-hsl5382;
  }
}

.user-nav__item--basket:active {
  transition: 0.2s ease;

  .user-nav__icon-cart {
    fill: $green-color-hsl5382;
    opacity: 0.3;
  }
}

.user-nav__item-img {
  position: absolute;
  top: 31px;
  left: 31px;
}

@media (min-width: $tablet-width) {
  .user-nav {
    display: flex;
    flex-direction: row;
    order: 2;
    width: calc(100% - 250px);
    height: 100%;
    justify-content: flex-end;
    padding-right: 40px;
  }

  .user-nav__item {
    border: none;
  }

  .user-nav__link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
  }

  .user-nav__link-basket {
    margin-left: 7px;
  }

  .user-nav__link-search {
    display: none;
  }

  .user-nav__item--decoration {
    position: relative;
    width: 83px;

    .user-nav__link {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-right: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 100%;
      width: 1px;
      background-color: $grey-color-hsl00;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      height: 100%;
      width: 1px;
      background-color: $grey-color-hsl00;
    }
  }

  .user-nav__item--basket {
    position: relative;
    width: 275px;
  }
}

@media (min-width: $desktop-width) {
  .user-nav {
    justify-content: flex-end;
    width: calc(50% - 125px);
    padding-right: 1px;
  }

  .user-nav__item--basket {
    width: 267px;
  }

  .user-nav__link {
    padding-right: 0;
  }
}
