.user-name__title {
  padding-top: 9px;
}

.user-name__item {
  display: flex;
  flex-direction: column-reverse;
}

.user-name__label {
  padding-top: 2px;
  font-size: $font-size-small;
  line-height: $line-height-any-small;
  font-weight: $font-weight-bold;
}

.user-name__input {
  padding: 17px 10px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid $black-color;

  &:hover {
    border-color: $green-color-hsl5382;
  }

  &:focus {
    border-color: $green-color-hsl5382;
  }

  &::placeholder {
    font-size: $font-size-small;
    line-height: $line-height-any-small;
    color: $grey-color-hsl0;
  }
}

.user-name__wrapper {
  @include wrapper();

  margin-top: 23px;
}

@media (min-width: $tablet-width) {
  .user-name__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 700px;
    padding: 46px 16px 0 185px;
  }

  .user-name__container {
    width: 100%;
    padding-bottom: 13px;
  }

  .user-name__item {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding-bottom: 21px;
  }

  .user-name__title {
    margin-top: 53px;

    &::after {
      content: "";
      display: none;
    }
  }

  .user-name__label {
    padding-right: 23px;
    font-size: $font-size-medium;
    line-height: $line-height-medium;
  }

  .user-name__input {
    width: 100%;

    &::placeholder {
      font-size: $font-size-medium;
      line-height: $line-height-medium;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-name__wrapper {
    width: 745px;
    padding-left: 30px;
    margin-left: 126px;
    margin-bottom: 2px;
  }

  .user-name__container {
    width: 1120px;
    margin: 0 auto;
    padding-left: 50px;
    padding-bottom: 9px;
  }

  .user-name__item {
    padding-bottom: 24px;
  }

  .user-name__input {
    padding: 16px 10px;
  }
}
