.user-tel__wrapper {
  @include wrapper();

  position: relative;
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
}

.user-tel__icon {
  position: absolute;
  top: 15px;
  right: 38px;
}

.user-tel__icon-phone {
  fill: #c7c7c7;
}

.user-tel__title {
  padding-top: 17px;
}

.user-tel__label {
  font-size: $font-size-small;
  line-height: $line-height-any-small;
  font-weight: $font-weight-bold;
}

.user-tel__input {
  padding: 17px 10px;
  padding-right: 50px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid $black-color;
  font-size: $font-size-small;
  line-height: $line-height-any-small;
  color: $grey-color-hsl0;

  &::placeholder {
    font-size: $font-size-small;
    line-height: $line-height-any-small;
    color: $grey-color-hsl0;
  }
}

.user-tel__input:hover {
  border-color: $green-color-hsl5382;
}

.user-tel__input:hover ~ .user-tel__icon .user-tel__icon-phone {
  fill: $green-color-hsl5382;
}

.user-tel__input:focus {
  border-color: $green-color-hsl5382;
}

.user-tel__input:focus ~ .user-tel__icon .user-tel__icon-phone {
  fill: $green-color-hsl5382;
}

@media (min-width: $tablet-width) {
  .user-tel {
    background-color: $grey-color-hs0-95;
  }

  .user-tel__input {
    padding-right: 65px;
    background-color: transparent;
    font-size: $font-size-medium;
    line-height: $line-height-medium;

    &::placeholder {
      font-size: $font-size-medium;
      line-height: $line-height-medium;
    }
  }

  .user-tel__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 700px;
    padding-left: 182px;
    padding-right: 16px;
  }

  .user-tel__container {
    width: 100%;
    padding-top: 44px;
  }

  .user-tel__icon {
    top: 14px;
    right: 43px;
  }

  .user-tel__title {
    padding-top: 0;
    margin-top: 20px;

    &::after {
      content: "";
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-tel__wrapper {
    width: 745px;
    padding-left: 30px;
    margin-left: 126px;
  }

  .user-tel__container {
    width: 1120px;
    margin: 0 auto;
    padding-left: 50px;
  }

  .user-tel__icon {
    top: 11px;
    right: 21px;
  }
}
