.user-email__wrapper {
  @include wrapper();

  position: relative;
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
}

.user-email__icon {
  position: absolute;
  top: 15px;
  right: 34px;
}

.user-email__title {
  margin-top: 26px;
}

.user-email__label {
  font-size: $font-size-small;
  line-height: $line-height-any-small;
  font-weight: $font-weight-bold;
}

.user-email__input {
  padding: 17px 10px;
  padding-right: 50px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid $black-color;

  &:hover {
    border-color: $green-color-hsl5382;
  }

  &:focus {
    border-color: $green-color-hsl5382;
  }

  &::placeholder {
    font-size: $font-size-small;
    line-height: $line-height-any-small;
    color: $grey-color-hsl0;
  }
}

@media (min-width: $tablet-width) {
  .user-email {
    padding-bottom: 50px;
    background-color: $grey-color-hs0-95;
  }

  .user-email__input {
    padding-right: 65px;
    background-color: transparent;

    &::placeholder {
      font-size: $font-size-medium;
      line-height: $line-height-medium;
    }
  }

  .user-email__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 700px;
    padding: 5px 16px 0 182px;
  }

  .user-email__icon {
    top: 19px;
    right: 39px;
  }

  .user-email__container {
    width: 100%;
  }

  .user-email__title {
    padding-top: 4px;
    margin-top: 20px;

    &::after {
      content: "";
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-email {
    padding-bottom: 51px;
  }

  .user-email__wrapper {
    width: 745px;
    padding-left: 30px;
    margin-left: 126px;
  }

  .user-email__container {
    width: 1120px;
    margin: 0 auto;
    padding-left: 50px;
    padding-top: 3px;
  }

  .user-email__icon {
    top: 16px;
    right: 16px;
  }
}
