.user-order__title {
  margin-top: 26px;
}

.user-order__input {
  padding: 10px;
  min-width: 260px;
  width: 100%;
  height: 140px;
  margin-top: 7px;
  border: 2px solid $grey-color-hsl0;

  &::placeholder {
    font-size: $font-size-small;
    line-height: $line-height-any-small;
    color: $grey-color-hsl0;
  }
}

.user-order__wrapper {
  @include wrapper();
}

@media (min-width: $tablet-width) {
  .user-order__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 217px;
  }

  .user-order__container {
    width: 100%;
  }

  .user-order__item {
    width: 500px;
    margin: 46px auto 0;
  }

  .user-order__title {
    margin-top: 59px;

    &::after {
      content: "";
      display: none;
    }
  }

  .user-order__input {
    &::placeholder {
      font-size: $font-size-medium;
      line-height: $line-height-medium;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-order__wrapper {
    padding-left: 30px;
  }

  .user-order__item {
    width: 700px;
    margin-top: 50px;
    margin-left: 124px;
  }

  .user-order__input {
    margin-top: 0;
    overflow-y: hidden;
  }

  .user-order__container {
    width: 1120px;
    margin: 0 auto;
    padding-left: 50px;
  }
}
