@mixin images-adaptive() {
  width: 100%;
  height: auto;
}

@mixin visually-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin wrapper() {
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1050px;
    margin: 0 auto;
  }
}
